body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:355px;
  height:31px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:137px;
  width:338px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(41.2475062524315deg);
  -moz-transform:rotate(41.2475062524315deg);
  -ms-transform:rotate(41.2475062524315deg);
  transform:rotate(41.2475062524315deg);
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:272px;
  width:257px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
